@import url(/css/reset.css);
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap');


:root {
    --dark-grey: #3A404E;
    --light-grey: #667085;
    --grey: #101828;
    --brown: #8E2424;
    --white: #ffffff;
    --background-button: rgba(142, 36, 36, 0.05);
    --border-color: #EAECF0;
    --section-color: rgba(196, 25, 25, 0.03);
    --footer-color: #F9FAFB;
    --shadow-color: rgba(16, 24, 40, 0.05);
    --input-border: #D0D5DD;
}

body {
    font-family: 'Inter';
}

.header__itens {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}

.header__logo {
    display: flex;
    align-items: center;
}

.header__tittle {
    font-size: 18px;
    font-weight: 500;
    margin: 0 0.5em;
}

.header__menu {
    display: flex;
    margin: 0 15em 0 1em;
}

.list__item {
    margin: 0 1em;
}

.header__list {
    display: flex;
    margin: 2em;
}

.header__link {
    text-decoration: none;
    color: var(--light-grey);
}

.button__signup {
    background-color: var(--brown);
    color: var(--white);
    padding: 10px 18px;
    border-radius: 5px;
}


.about-us {
    text-align: center;
    margin: 3em;
}

.subtittle__about-us {
    margin-bottom: 1.5em;
    color: var(--brown);
    font-weight: 600;
}

.tittle__about-us {
    margin-bottom: 1em;
    color: var(--grey);
    font-size: 48px;
    font-weight: 600;
}

.text__about-us {
    margin: 0 12em;
    color: var(--light-grey);
    font-size: 20px;
    font-weight: 400;
}